* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  text-align: center;
  background: #0a0c1b;
  font-family: "Sora", sans-serif;
}

section {
  display: flex;
  flex-direction: row-reverse;
  background: white;
  width: 80%;
}

.container__text {
  display: flex;
  padding: 2rem;
  flex-direction: column;
  justify-content: space-around;
}

.container__img {
  display: flex;
}
